<%= form_tag(todo_lists_path, method: 'post') do %>
  <div class="row add-list">
    <a id="add-list-link">Add List +</a>
    <%= text_field_tag "todo_list[name]", '', placeholder: 'Type the name and press enter...' %>
  </div>
<% end %>