<div class="footer">
  <span>Created by <a href="https://about.me/fredericomartins" target="_blank">Frederico Martins</a></span>
  <span>Using <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a></span>
</div>
